* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  color: white;
}

.centerColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.swiperStyle>.swiper-button-next {
  position: fixed;
}

.swiperStyle>.swiper-button-prev {
  position: fixed;
}

.swiperStyle>.swiper-pagination {
  position: fixed;
  background-color: #6d6c6c;
}

.swiperPaper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100vw;
  margin-top: 5rem;
  cursor: -webkit-grab;
  cursor: grab;
  user-select: none;
}

.swiperPaper:active {
  cursor: -webkit-grabing;
  cursor: grabbing;
}